#about,#blog,#contact,#faq,#freeTrial,#main,#paymentForm,#privacy,#setupValues,#signUpForm {
    background-color: #1E1E1E;
    color: #CECECE;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
    width: 950px;
}

#bg {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -5000;
}

#checkout {
    background-color: #1E1E1E;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 100px;
    padding-top: 50px;
    width: 950px;
}

#checkoutTable {
    width: 500px;
}

#contact a:link,a:visited,a:active {
    color: #CECECE;
    text-decoration: underline;
}

#contactLeft {
    float: left;
    padding-left: 30px;
    width: 440px;
}

#contactRight {
    float: right;
    padding-right: 30px;
    width: 440px;
}

#content {
    background-color: #EAE9E7;
    color: #000;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 30px;
    width: 950px;
}

#content a,#footer a {
    color: #000;
    text-decoration: underline;
}

#contentLeft {
    float: left;
    width: 425px;
}

#contentRight {
    float: right;
    padding-right: 30px;
    width: 425px;
}

#creditCardButton {
    background-color: #FBB91F;
    border: 2px solid #FBB91F;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 5px;
    padding: 5px;
}

#divShooterLogin {
    display: none;
}

#facebook,#instagram {
    color: #FCBA1F;
}

#faqLink {
    color: #FFF;
    letter-spacing: -2px;
}

#footer {
    background-color: #FFF;
    color: #000;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    width: 950px;
}

#footerPadLeft {
    float: left;
    padding-left: 15px;
    padding-top: 10px;
}

#footerPadRight {
    float: right;
    padding-right: 15px;
    padding-top: 10px;
}

#freeTrialBox,#setupValuesBox {
    background-color: #4d4d4d;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 700px;
}

#freeTrialStart {
    background-color: #860400;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    width: 200px;
}

#greyTableRow {
    background-color: #666;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
}

#header {
    background-color: #000;
    height: 125px;
    margin: 0 auto;
    width: 950px;
}

#headerLeft {
    float: left;
    margin-top: 36px;
}

#headerRight {
    background-color: #FFF;
    border-bottom: 2px solid #FBB91F;
    border-left: 2px solid #FBB91F;
    border-radius: 0 0 10px 10px;
    border-right: 2px solid #FBB91F;
    color: #000;
    float: right;
    height: 125px;
    vertical-align: top;
    width: 300px;
}

#navBar {
    background-color: #1E1E1E;
    height: 100px;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 950px;
}

#navLinks {
    color: #FFF;
    float: left;
    font-size: 36px;
    height: 55px;
    margin-left: 10px;
    padding-left: 5px;
    padding-top: 20px;
    width: 400px;
}

#paymentForm table,#signUpForm table {
    width: 600px;
}

#paymentForm td,th,tr,#signUpForm td,th,tr {
    padding: 5px;
}

#rcLogo {
    padding-left: 10px;
    padding-top: 25px;
}

#rcLogoText {
    font-size: 50px;
    font-weight: 100;
    letter-spacing: -1px;
}

#signUp {
    color: #FCBA1F;
    letter-spacing: -2px;
}

#socialIcons {
    color: #FFF;
    font-size: 36px;
    margin-top: 20px;
}

#socialIcons li {
    padding-right: 20px;
}

#socialMedia {
    float: left;
    height: 75px;
    width: 350px;
}

#twitter,#youtube,.white {
    color: #FFF;
}

#welcome {
    background-color: #1E1E1E;
    color: #ccc;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
    width: 950px;
}

#welcomeLeft {
    float: left;
    margin-left: 30px;
    margin-top: 40px;
    text-align: justify;
    width: 425px;
}

#welcomeRight {
    float: left;
    margin-left: 30px;
    margin-top: 40px;
    text-align: center;
    width: 425px;
}

.center {
    text-align: center;
}

.gold {
    color: #fbb91f;
}

.greyRow {
    background-color: #4d4d4d;
    border-radius: 10px;
}

.left {
    float: left;
}

.pad {
    padding: 10px;
}

.padTop {
    padding-top: 50px;
}

.print a:link,a:visited,a:active {
    color: #CECECE;
}

.right {
    text-align: right;
}

.smallText {
    font-size: 13px;
}

.timeInput {
    width: 75px;
}

a:link {
    color: #000;
    text-decoration: none;
}

body {
    background-color: #000;
    color: #FFF;
    /*font-family: 'Open Sans',sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin: 0;
}

h1,h2,h3,h4 {
    margin: 0;
    padding-left: 30px;
}

input,select {
    border-radius: 5px;
    font-size: 13px;
}

p {
    padding: 10px 30px;
    text-align: justify;
}

table,tr,td {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}