@import "https://fonts.googleapis.com/css?family=Open+Sans";
body {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}
.bg {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -5000;
}
a:hover { color: #F90 }
a:active { color: #3A3630 }
.floatLeft { float: left }
.floatRight { float: right }
.rcLogoText {
    font-size: 50px;
    letter-spacing: -1px;
}
.rounded {
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#header_table {
    background-color: #000;
    border-spacing: 0;
    color: #000;
    font-size: 12px;
    height: 125px;
    margin: 0 auto;
    width: 950px;
}
#header_table #headercol1 {
    background-color: #000;
    width: 650px;
}
#header_table #headercol2 {
    background-color: #FFF;
    border-bottom: 2px solid #FBB91F;
    border-left: 2px solid #FBB91F;
    border-radius: 0 0 10px 10px;
    border-right: 2px solid #FBB91F;
    height: 110px;
    vertical-align: top;
    width: 300px;
}
#header_signup {
    background-color: red;
    border-bottom: 2px solid #FBB91F;
    border-left: 2px solid #FBB91F;
    border-radius: 0 0 10px 10px;
    border-right: 2px solid #FBB91F;
    font-size: 30px;
    height: 50px;
    margin-top: 0;
    padding-top: 10px;
    text-align: center;
    width: 40%;
}
/*a.signup:link {
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 2px 2px #000;
}
a.signup:visited {
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
}
a.signup:hover {
    color: orange;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
}
a.signup:active {
    color: #FFF;
    font-weight: 700;
}*/
a:hover {
  color: red;
}
#welcome_table #welcomecol1 {
    padding-left: 40px;
    vertical-align: top;
    width: 600px;
}
#welcome_table #welcomecol2 {
    padding-right: 40px;
    text-align: center;
    vertical-align: top;
    width: 350px;
}
#welcome_table3 {
    background-color: #1E1E1E;
    border-spacing: 0;
    color: #CCC;
    height: 10px;
    margin: 0 auto;
    width: 950px;
}
#content_table {
    background-color: #1E1E1E;
    border-spacing: 0;
    color: #CCC;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
    width: 950px;
}
#content_table #contentcol {
    padding: 40px;
    vertical-align: top;
    width: 950px;
}
#content_table a:hover {
    color: orange;
    text-decoration: underline;
}
#boxes_table {
    border-spacing: 0;
    font-size: 14px;
    margin: 0 auto;
    width: 950px;
}
#boxes_table #box1 {
    background: url(../images/box11.png) no-repeat;
    border: none;
    float: left;
    height: 220px;
    padding: 3px;
    width: 230px;
}
#boxes_table #box2 {
    background: url(../images/box22.png) no-repeat;
    border: none;
    float: left;
    height: 220px;
    padding: 3px;
    width: 230px;
}
#boxes_table #box3 {
    background: url(../images/box3.png) no-repeat;
    border: none;
    float: left;
    height: 220px;
    padding: 3px;
    width: 230px;
}
#boxes_table #box4 {
    background: url(../images/box4.png) no-repeat;
    border: none;
    float: left;
    height: 220px;
    padding: 3px;
    width: 230px;
}
#features_table {
    background-color: #EAE9E7;
    border-spacing: 0;
    color: #333;
    line-height: 20px;
    margin: 0 auto;
    width: 950px;
}
#features_table #featurescol1 {
    /*background: url(../images/rcBackgroundLogo.png) no-repeat scroll 80px 30px transparent;*/
    padding: 20px;
    vertical-align: top;
    width: 590px;
}
#rcBackgroundLogo {
  background: url(../images/rcBackgroundLogo.png) no-repeat scroll 80px 30px transparent;
  opacity: 0.5;
  z-index: -100;
}
#features_table #featurescol2 {
    padding: 20px;
    text-align: center;
    vertical-align: top;
    width: 360px;
}
#features_table a:hover {
    color: red;
    text-decoration: underline;
}
#newsletter_table {
    background-color: #333;
    color: #CECECE;
    margin: 0 auto;
    width: 95%;
}
#newsletter_table a:hover { color: orange }
#footer_table {
    background-color: #FFF;
    border-spacing: 0;
    color: #333;
    margin: 0 auto;
    width: 950px;
    height: 40px;
  padding-left: 15px;
  padding-right: 15px;
}
/*#footer_table #footercol1 {
    text-align: center;
    vertical-align: middle;
    width: 40%;
}
#footer_table #footercol2 {
    text-align: right;
    vertical-align: middle;
    width: 30%;
}
#footer_table #footercol3 {
    padding-right: 20px;
    text-align: right;
    width: 10%;
}
#footer_table a:hover {
    color: orange;
    text-decoration: none;
}
#footer_table a:active { color: #333 }
#credit_card_table {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #666;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
}*/
.table2 {
    text-align: right;
    width: 33%;
}
.table9 input {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    height: 25px;
    width: 125px;
}
.table9 input:hover {
    background-color: green;
    color: #FFF;
}
#divShooterLogin { display: none }
.social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.social li {
    display: inline;
    font-size: 40px;
    padding: 10px;
}
#socialDiv {
    float: left;
    margin-right: 70px;
    width: 30%;
}
#socialMedia { margin-top: 10px }
#signupDiv {
    float: left;
    width: 60%;
}
.justify { text-align: justify }
.paddingRight { padding-right: 25px }
.freeTrial {
    background-color: #EF7A08;
    border: 2px solid #FBB91F;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    height: 60px;
    width: 240px;
}
a:visited,
a:link { color: #3a3630 }
#welcome_table,
#welcome_table2 {
    background-color: #1E1E1E;
    border-spacing: 0;
    color: #CCC;
    margin: 0 auto;
    width: 950px;
}
#content_table a:link,
#content_table a:visited,
#content_table a:active {
    color: #CECECE;
    text-decoration: underline;
}
#features_table a:link,
#features_table a:visited,
#features_table a:active {
    color: #333;
    text-decoration: underline;
}
#newsletter_table a:link,
#newsletter_table a:visited,
#newsletter_table a:active { color: #CECECE }
#footer_table a:link,
#footer_table a:visited {
    color: #333;
    text-decoration: none;
}
#company_setup_table,
#billing_info_table,
#submit_order_table {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #666;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}
#company_setup_table_desc,
#billing_info_table_desc,
#credit_card_table_desc,
#submit_order_table_desc {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    padding: 5px;
    text-align: justify;
    vertical-align: middle;
}
.table9,
.center { text-align: center }
.socialIcon:link,
.socialIcon:visited {
    color: #fcba1f;
    text-shadow: 2px 2px #000;
}
.socialIconAlt:link,
.socialIconAlt:visited {
    color: #fff;
    text-shadow: 2px 2px #000;
}