

<div style="background: #4b4b4b; background: -moz-linear-gradient(top, #7f7f7f 0%, #131313 100%); background: #4b4b4b; background: -moz-linear-gradient(top,  #7f7f7f 0%, #131313 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7f7f7f), color-stop(100%,#131313)); background: -webkit-linear-gradient(top,  #7f7f7f 0%,#131313 100%); background: -o-linear-gradient(top,  #7f7f7f 0%,#131313 100%); background: -ms-linear-gradient(top,  #7f7f7f 0%,#131313 100%); background: linear-gradient(to bottom,  #7f7f7f 0%,#131313 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7f7f', endColorstr='#131313',GradientType=0 ); padding:2em;font-size:2em; color: #fff;font-weight:bold;text-align:center;"
     data-a="url(https://www.rangecontroller.com/images/gray-grad-box.png);"
     >
    Looks Like It's Time To Renew!
</div>

<!--p>
Hey there! Don’t let your membership to <strong>Southeast Weapons And Training</strong> run out! Renew your membership today and keep your benefits rolling. The fun doesn’t have to stop here.
<br />
<br />
Renew before your membership expiration of  <strong>8/5/2014</strong> and save </strong>10</strong>%! 
Renew today by clicking <a href="$member_login_link">here</a> or send an email, call, or swing by and see us to renew. It’s a simple 5 minute process that keeps giving back! 
</p-->