body {
    background-color: #000;
    color: #FFF;
    border: 0;
    margin: 0;
    padding: 0;
}
.marginCenter { margin: 0 auto }
.blackHeaderCell {
    background-color: #000;
    width: 1000px;
}
#logo { width: 400px }
#companyTable {
    width: 1000px;
    background-color: #1E1E1E;
    padding: 5px;
}
.borderTop { border-top: 0 }
.companyName {
    color: #fbb91f;
    font-size: 34px;
    font-weight: 700;
}
.memberWelcome { font-size: 24px }
.gold {
    color: #fbb91f;
    font-size: 24px;
}
#contentTableCell {
    background: #1e1e1e;
    border-top: 0;
    padding: 1.62em 0;
}
.floatLeft { float: left }
.floatRight { float: right }
.padLeft { padding-left: 10px }
.padRight { padding-right: 10px }
#companyTableCell { width: 85% }
#companyLogoTableCell { width: 15% }
#headerTable,
#footerTable,
#footerCell { width: 1000px }
#contentTable,
#footer1Table {
    width: 1000px;
    background-color: #1E1E1E;
}
.lightblackbg { background: #666 }
.text-nodeco { text-decoration: none!important }
.logoimg {
    width: 80px;
    height: auto;
}
.error {
    border: 1px solid red;
    color: red;
    background-color: #fff;
}
.customer .ovlabeltxt { color: #9ad717 }
.customer .visitCount { color: #fbb91f }
.customer .padtb {
    padding-top: 1em;
    padding-bottom: 1em;
}
.simple-pagination li {
    display: inline-block;
    list-style-type: none;
}
.simple-pagination li a,
.simple-pagination li span {
    background: #666;
    margin: 0 .38em;
    padding: .38em .62em;
}
.navButton {
    width: 185px;
    height: 60px;
    font-size: 16px;
    font-family: arial;
    border-radius: 30px;
    border: 2px solid #1E1E1E;
}
.navButton:hover {
    background-color: red;
    border: 2px solid #1E1E1E;
    font-weigt: bold;
}
.navButton:active { color: #FFF }
.text-right,
.customer .ovlabel,
.classes .ovlabel,
.benefits .ovlabel,
.configuration .ovlabel,
.reports .ovlabel,
.maintenance .ovlabel,
.login_lane .ovlabel,
.techsupport .ovlabel { text-align: right }
.customer .labeltd,
.classes .labeltd,
.benefits .labeltd,
.configuration .labeltd,
.reports .labeltd,
.maintenance .labeltd,
.login_lane .labeltd,
.techsupport .labeltd {
    width: 170px;
    text-align: right;
}
.customer .printBtn,
.classes .printBtn,
.benefits .printBtn,
.configuration .printBtn,
.reports .printBtn,
.maintenance .printBtn,
.login_lane .printBtn,
.techsupport .printBtn {
    background: #666;
    color: #fff;
    border: 0;
    padding: .3em 1em;
}
.customer .overview .infodata td div,
.classes .overview .infodata td div,
.benefits .overview .infodata td div,
.configuration .overview .infodata td div,
.reports .overview .infodata td div,
.maintenance .overview .infodata td div,
.login_lane .overview .infodata td div,
.techsupport .overview .infodata td div { line-height: 1.38em }
.customer .overview h4,
.classes .overview h4,
.benefits .overview h4,
.configuration .overview h4,
.reports .overview h4,
.maintenance .overview h4,
.login_lane .overview h4,
.techsupport .overview h4 {
    margin: 0;
    padding: 0 0 .38em;
}
.customer .margt,
.classes .margt,
.benefits .margt,
.configuration .margt,
.reports .margt,
.maintenance .margt,
.login_lane .margt,
.techsupport .margt { margin-top: 2em }
.customer .margt-sm,
.classes .margt-sm,
.benefits .margt-sm,
.configuration .margt-sm,
.reports .margt-sm,
.maintenance .margt-sm,
.login_lane .margt-sm,
.techsupport .margt-sm { margin-top: 1em }
.customer .margb,
.classes .margb,
.benefits .margb,
.configuration .margb,
.reports .margb,
.maintenance .margb,
.login_lane .margb,
.techsupport .margb { margin-bottom: 2em }
.customer .margb-sm,
.classes .margb-sm,
.benefits .margb-sm,
.configuration .margb-sm,
.reports .margb-sm,
.maintenance .margb-sm,
.login_lane .margb-sm,
.techsupport .margb-sm { margin-bottom: 1em }
.customer .margl,
.classes .margl,
.benefits .margl,
.configuration .margl,
.reports .margl,
.maintenance .margl,
.login_lane .margl,
.techsupport .margl { margin-left: 2em }
.customer .margl-sm,
.classes .margl-sm,
.benefits .margl-sm,
.configuration .margl-sm,
.reports .margl-sm,
.maintenance .margl-sm,
.login_lane .margl-sm,
.techsupport .margl-sm { margin-left: 1em }
.customer .margr,
.classes .margr,
.benefits .margr,
.configuration .margr,
.reports .margr,
.maintenance .margr,
.login_lane .margr,
.techsupport .margr { margin-right: 2em }
.customer .padlr,
.classes .padlr,
.benefits .padlr,
.configuration .padlr,
.reports .padlr,
.maintenance .padlr,
.login_lane .padlr,
.techsupport .padlr {
    padding-left: 1em;
    padding-right: 1em;
}
.customer .btn,
.classes .btn,
.benefits .btn,
.configuration .btn,
.reports .btn,
.maintenance .btn,
.login_lane .btn,
.techsupport .btn {
    background: #fbb91f;
    color: #000;
    font-weight: 700;
    border: 0;
    font-size: 120%;
    padding: .38em .62em;
}
.customer .btn:hover,
.classes .btn:hover,
.benefits .btn:hover,
.configuration .btn:hover,
.reports .btn:hover,
.maintenance .btn:hover,
.login_lane .btn:hover,
.techsupport .btn:hover { background: orange }
.customer table,
.classes table,
.benefits table,
.configuration table,
.reports table,
.maintenance table,
.login_lane table,
.techsupport table {
    width: 100%;
    margin-bottom: 2em;
}
.customer table td,
.customer table th,
.classes table td,
.classes table th,
.benefits table td,
.benefits table th,
.configuration table td,
.configuration table th,
.reports table td,
.reports table th,
.maintenance table td,
.maintenance table th,
.login_lane table td,
.login_lane table th,
.techsupport table td,
.techsupport table th { padding: .38em .62em }
.customer .table-td-centered td,
.customer .table-td-centered th,
.classes .table-td-centered td,
.classes .table-td-centered th,
.benefits .table-td-centered td,
.benefits .table-td-centered th,
.configuration .table-td-centered td,
.configuration .table-td-centered th,
.reports .table-td-centered td,
.reports .table-td-centered th,
.maintenance .table-td-centered td,
.maintenance .table-td-centered th,
.login_lane .table-td-centered td,
.login_lane .table-td-centered th,
.techsupport .table-td-centered td,
.techsupport .table-td-centered th {
    text-align: center;
    vertical-align: middle;
}
.customer .requiredf,
.classes .requiredf,
.benefits .requiredf,
.configuration .requiredf,
.reports .requiredf,
.maintenance .requiredf,
.login_lane .requiredf,
.techsupport .requiredf {
    color: red;
    margin-right: 5px;
}
.classes .ovlabeltxt,
.classes .visitCount,
.benefits .ovlabeltxt,
.benefits .visitCount,
.configuration .ovlabeltxt,
.configuration .visitCount,
.reports .ovlabeltxt,
.reports .visitCount,
.maintenance .ovlabeltxt,
.maintenance .visitCount,
.login_lane .ovlabeltxt,
.login_lane .visitCount,
.techsupport .ovlabeltxt,
.techsupport .visitCount { color: #fff!important }
.classes .padtb,
.benefits .padtb,
.configuration .padtb,
.reports .padtb,
.maintenance .padtb,
.login_lane .padtb,
.techsupport .padtb {
    padding-top: 1em;
    padding-bottom: 4em;
}
.benefits_duration,
.reports_duration,
.maintenance_duration,
.login_lane_duration { font-size: 12px }
.textCenter,
.text-center { text-align: center }
@media print { 
    .hideFromPrint {
        display: none!important;
        visibility: hidden!important;
    }
    .customer .ovlabeltxt,
    .customer .visitCount { color: #fff!important }
}