body {
background-color:#000;
border:0;
color:#FFF;
font-family: 'Roboto', sans-serif;
height:auto;
left:0;
margin:0;
min-height:100%;
min-width:1024px;
padding:0;
top:0;
width:100%;
}

input {
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
font-family:'Open Sans',sans-serif;
}

button {
border-radius:5px;
}

a:link,a:visited {
color:#CECECE;
}

a:hover {
color:red;
}

.laneName {
width:100px;
}

label {
display:inline-block;
}

.rcLogoText {
font-size:42px;
}

table {
border-collapse:collapse;
border-spacing:0;
margin:0 auto;
}

th {
border:#333 solid 1px;
border-collapse:collapse;
}

td {
border:#333 solid 1px;
border-collapse:collapse;
padding:5px;
}

.indent {
text-indent:50px;
}

.indent:before {
content:"- ";
}

.greyRow {
background-color:#4d4d4d;
}

.greenText {
color:green;
}

.smallText {
font-size:14px;
}

.underline {
text-decoration:underline;
}

.capitalize {
text-transform:capitalize;
}

.lowercase {
text-transform:lowercase;
}

.noBorder {
border:0;
}

.bg {
height:100%;
left:0;
position:fixed;
top:0;
width:100%;
z-index:-5000;
}

.marginCenter {
margin:0 auto;
}

.blackHeaderCell {
background-color:#000;
width:1000px;
}

#logo {
width:400px;
}

#companyTable {
background-color:#1E1E1E;
padding:5px;
width:1000px;
}

.borderTop {
border-top:0;
}

.companyName {
color:#fbb91f;
font-size:36px;
letter-spacing:1px;
}

.memberWelcome {
font-size:24px;
}

.gold {
color:#fbb91f;
font-size:24px;
}

#contentTableCell {
background:#1e1e1e;
border-top:0;
padding:1.62em 0;
}

.floatLeft {
float:left;
}

.floatRight {
float:right;
}

.padLeft {
padding-left:10px;
}

.padRight {
padding-right:10px;
}

.padTop {
padding-top:10px;
}

#companyTableCell {
width:85%;
}

#companyLogoTableCell {
width:15%;
}

.lightblackbg {
background:#666;
}

.text-nodeco {
text-decoration:none!important;
}

.logoimg {
height:auto;
width:80px;
}

.error {
background-color:#fff;
border:1px solid red;
color:red;
}

.customer .padtb {
padding-bottom:1em;
padding-top:1em;
}

.simple-pagination li {
display:inline-block;
list-style-type:none;
}

.navButton {
border:2px solid #1E1E1E;
border-radius:30px;
font-family:'Open Sans',sans-serif;
font-size:17px;
height:60px;
width:200px;
}

.navButton:hover {
background-color:red;
border:2px solid #1E1E1E;
color:#FFF;
}

.navButton:active {
color:#FFF;
}

select,textarea {
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}

input[type=button],input[type=submit] {
cursor:pointer;
}

#headerTable,#footerTable,#footerCell {
width:1000px;
}

#contentTable,#footer1Table {
background-color:#1E1E1E;
width:1000px;
}

.simple-pagination li a,.simple-pagination li span {
background:#666;
margin:0 .38em;
padding:.38em .62em;
}

.customer .labeltd,.classes .labeltd,.benefits .labeltd,.configuration .labeltd,.reports .labeltd,.maintenance .labeltd,.login_lane .labeltd,.techsupport .labeltd {
text-align:right;
width:170px;
}

.customer .printBtn,.classes .printBtn,.benefits .printBtn,.configuration .printBtn,.reports .printBtn,.maintenance .printBtn,.login_lane .printBtn,.techsupport .printBtn {
background:#666;
border:0;
color:#fff;
padding:.3em 1em;
}

.customer .btn,.classes .btn,.benefits .btn,.configuration .btn,.reports .btn,.maintenance .btn,.login_lane .btn,.techsupport .btn {
background:#fbb91f;
border:0;
color:#000;
font-size:120%;
font-weight:700;
padding:.38em .62em;
}

.customer table,.classes table,.benefits table,.configuration table,.reports table,.maintenance table,.login_lane table,.techsupport table {
margin-bottom:2em;
width:100%;
}

.classes .ovlabeltxt,.classes .visitCount,.benefits .ovlabeltxt,.benefits .visitCount,.configuration .ovlabeltxt,.configuration .visitCount,.reports .ovlabeltxt,.reports .visitCount,.maintenance .ovlabeltxt,.maintenance .visitCount,.login_lane .ovlabeltxt,.login_lane .visitCount,.techsupport .ovlabeltxt,.techsupport .visitCount {
color:#fff!important;
}

.classes .padtb,.benefits .padtb,.configuration .padtb,.reports .padtb,.maintenance .padtb,.login_lane .padtb,.techsupport .padtb {
padding-bottom:4em;
padding-top:1em;
}

.admin .labeltd {
text-align:right;
width:170px;
}

.admin .printBtn {
background:#666;
border:0;
color:#fff;
padding:.3em 1em;
}

.admin .padtb {
padding-bottom:4em;
padding-top:1em;
}

.admin .btn {
background:#fbb91f;
border:0;
color:#000;
font-size:120%;
font-weight:700;
padding:.38em .62em;
}

.admin table {
margin-bottom:2em;
width:100%;
}

.customer .ovlabeltxt,.admin .ovlabeltxt {
color:#9ad717;
}

.customer .visitCount,.admin .visitCount {
color:#fbb91f;
}

.customer .overview .infodata td div,.classes .overview .infodata td div,.benefits .overview .infodata td div,.configuration .overview .infodata td div,.reports .overview .infodata td div,.maintenance .overview .infodata td div,.login_lane .overview .infodata td div,.techsupport .overview .infodata td div,.admin .overview .infodata td div {
line-height:1.38em;
}

.customer .overview h4,.classes .overview h4,.benefits .overview h4,.configuration .overview h4,.reports .overview h4,.maintenance .overview h4,.login_lane .overview h4,.techsupport .overview h4,.admin .overview h4 {
margin:0;
padding:0 0 .38em;
}

.customer .margt,.classes .margt,.benefits .margt,.configuration .margt,.reports .margt,.maintenance .margt,.login_lane .margt,.techsupport .margt,.admin .margt {
margin-top:2em;
}

.customer .margt-sm,.classes .margt-sm,.benefits .margt-sm,.configuration .margt-sm,.reports .margt-sm,.maintenance .margt-sm,.login_lane .margt-sm,.techsupport .margt-sm,.admin .margt-sm {
margin-top:1em;
}

.customer .margb,.classes .margb,.benefits .margb,.configuration .margb,.reports .margb,.maintenance .margb,.login_lane .margb,.techsupport .margb,.admin .margb {
margin-bottom:2em;
}

.customer .margb-sm,.classes .margb-sm,.benefits .margb-sm,.configuration .margb-sm,.reports .margb-sm,.maintenance .margb-sm,.login_lane .margb-sm,.techsupport .margb-sm,.admin .margb-sm {
margin-bottom:1em;
}

.customer .margl,.classes .margl,.benefits .margl,.configuration .margl,.reports .margl,.maintenance .margl,.login_lane .margl,.techsupport .margl,.admin .margl {
margin-left:2em;
}

.customer .margl-sm,.classes .margl-sm,.benefits .margl-sm,.configuration .margl-sm,.reports .margl-sm,.maintenance .margl-sm,.login_lane .margl-sm,.techsupport .margl-sm,.admin .margl-sm {
margin-left:1em;
}

.customer .margr,.classes .margr,.benefits .margr,.configuration .margr,.reports .margr,.maintenance .margr,.login_lane .margr,.techsupport .margr,.admin .margr {
margin-right:2em;
}

.customer .padlr,.classes .padlr,.benefits .padlr,.configuration .padlr,.reports .padlr,.maintenance .padlr,.login_lane .padlr,.techsupport .padlr,.admin .padlr {
padding-left:1em;
padding-right:1em;
}

.customer .btn:hover,.classes .btn:hover,.benefits .btn:hover,.configuration .btn:hover,.reports .btn:hover,.maintenance .btn:hover,.login_lane .btn:hover,.techsupport .btn:hover,.admin .btn: hover {
background:orange;
}

.customer table td,.customer table th,.classes table td,.classes table th,.benefits table td,.benefits table th,.configuration table td,.configuration table th,.reports table td,.reports table th,.maintenance table td,.maintenance table th,.login_lane table td,.login_lane table th,.techsupport table td,.techsupport table th,.admin table td,.admin table th {
padding:.38em .62em;
}

.customer .table-td-centered td,.customer .table-td-centered th,.classes .table-td-centered td,.classes .table-td-centered th,.benefits .table-td-centered td,.benefits .table-td-centered th,.configuration .table-td-centered td,.configuration .table-td-centered th,.reports .table-td-centered td,.reports .table-td-centered th,.maintenance .table-td-centered td,.maintenance .table-td-centered th,.login_lane .table-td-centered td,.login_lane .table-td-centered th,.techsupport .table-td-centered td,.techsupport .table-td-centered th,.admin .table-td-centered td,.admin .table-td-centered th {
text-align:center;
vertical-align:middle;
}

.customer .requiredf,.classes .requiredf,.benefits .requiredf,.configuration .requiredf,.reports .requiredf,.maintenance .requiredf,.login_lane .requiredf,.techsupport .requiredf,.admin .requiredf {
color:red;
margin-right:5px;
}

.benefits_duration,.reports_duration,.maintenance_duration,.login_lane_duration,.admin_duration {
font-size:12px;
}

.textCenter,.text-center,.text-center {
text-align:center;
}

.right,.text-right,.customer .ovlabel,.classes .ovlabel,.benefits .ovlabel,.configuration .ovlabel,.reports .ovlabel,.maintenance .ovlabel,.login_lane .ovlabel,.techsupport .ovlabel,.admin .ovlabel {
text-align:right;
}

@media print{
.hideFromPrint {
display:none!important;
visibility:hidden!important;
}

.customer .ovlabeltxt,.customer .visitCount,.admin .ovlabeltxt,.admin .visitCount {
color:#fff!important;
}
}