input {
font-family:arial;
}

body {
font-family:arial;
background-color:#000;
color:#fff;
font:antialiased;
font-size:medium;
min-height:100%;
min-width:1024px;
width:100%;
height:auto;
top:0;
left:0;
border:0;
margin:0;
padding:0;
}

a:link {
  color: #CECECE;
}

a:visited {
  color: #CECECE;
}

a:hover {
  color: #FF0000;
}

table {
border-spacing:0;
border-collapse:collapse;
margin:0 auto;
}

th {
border:#666 solid 1px;
border-collapse:collapse;
}

td {
border:#666 solid 1px;
border-collapse:collapse;
padding:5px;
}

.noBorder {
border:0;
}

.bg {
width:100%;
height:100%;
position:fixed;
top:0;
left:0;
z-index:-5000;
}

input,select,textarea {
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
}



input[type=button],input[type=submit] {
cursor:pointer;
}

