._pp_datepicker {
line-height:15px;
display:inline-block;
}

._pp_datepicker_navigation {
text-align:center;
width:180px;
margin:auto;
}

._pp_datepicker_today:hover,._pp_datepicker_next:hover,._pp_datepicker_previous:hover {
text-decoration:underline;
cursor:pointer;
}

._pp_datepicker_next {
float:right;
width:25px;
}

._pp_datepicker_previous {
float:left;
width:25px;
}

._pp_datepicker_table {
border-collapse:collapse;
width:180px;
}

._pp_datepicker_table th,._pp_datepicker_table td {
text-align:center;
padding:1px;
}

._pp_datepicker td.day,._pp_datepicker td.dayothermonth {
cursor:pointer;
background-color:#FFF;
border:1px solid #EEE;
width:2em;
}

._pp_datepicker td.dayothermonth {
color:#999;
font-style:italic;
}

._pp_datepicker td.day:hover {
background-color:#EBE4C0;
}

._pp_datepicker td.weekend {
background-color:#CCC;
font-style:italic;
}

._pp_datepicker td.today {
font-weight:bold;
}

._pp_datepicker td.current,._pp_datepicker td.current:hover {
font-weight:bold;
background-color:#EBC2C0;
}

._pp_datepicker td.rightrange {
background:url(/right-range.png) #EBC2C0 right center no-repeat;
}

._pp_datepicker td.leftrange {
background:url(/left-range.png) #EBC2C0 left center no-repeat;
}

._pp_datepicker td.singlerange {
background:url(/single-range.png) #EBC2C0 center center no-repeat;
}

._pp_datepicker_weekselect {
width:3px;
background-color:#999;
cursor:pointer;
border-radius:5px 0 0 5px;
-moz-border-radius:5px 0 0 5px;
-webkit-border-radius:5px 0 0 5px;
}

._pp_datepicker button {
display:block;
width:174px;
margin:3px auto;
font-size:11px;
}

._pp_datepicker td.currenthint {
background-color:#f2e0df;
}

._pp_datepicker td.disabled,._pp_datepicker td.disabled:hover {
background-color:#EEE;
color:#999;
cursor:default;
}

._pp_filechooser {
padding:3px;
}

._pp_filechooser,._pp_filechooser td,._pp_filechooser input {
font-size:11px;
}

._pp_filechooser input [type=text ] {
border:1px solid #DDD;
}

._pp_filechooser_directoryheader {
border:1px solid #CCC;
background-color:#FFF;
padding:2px;
}

._pp_filechooser_preview {
background-color:#EEE;
}

._pp_filechooser_filerow {
padding:3px;
cursor:default;
}

#livegrid_header {
width:600px;
background-color:#036;
}

#livegrid_header th {
padding:2px;
text-align:left;
font-weight:bold;
color:#FFF;
}

#livegrid {
width:600px;
}

#livegrid tr,#livegrid tr.odd {
background-color:#EEE;
}

#livegrid tr.even {
background-color:#FFF;
}

#livegrid tr.selected {
background-color:#EBC2C0;
}

#livegrid td {
padding:2px;
border-bottom:1px solid #CCC;
cursor:default;
overflow:hidden;
white-space:nowrap;
}

.rating_star {
float:left;
height:20px;
width:20px;
background:url(/rating-star.png) no-repeat 0 0;
}

.rating_hover {
background:url(/rating-star.png) no-repeat 0 -20px;
}

.rating_on {
background:url(/rating-star.png) no-repeat 0 -40px;
}

.rating_half {
background:url(/rating-star.png) no-repeat 0 -60px;
}

.rating_loading {
background:url(/rating-loading.gif) no-repeat 2px 2px;
height:20px;
width:20px;
float:left;
}

.rteToolbar {
background-color:#EEE;
border-top:1px solid #FFF;
border-right:1px solid #CCC;
border-bottom:1px solid #CCC;
padding:2px;
}

.rteToolbarDisabled {
background-color:#DDD;
}

.rteVertSep {
margin-bottom:3px;
margin-top:3px;
margin-left:4px;
margin-right:4px;
}

hr.rteHorizSep {
color:#CCC;
background-color:#CCC;
height:1px;
border:0;
margin-top:3px;
margin-bottom:3px;
padding:0;
}

.rteButton {
border:1px solid #EEE;
cursor:default;
}

.rteToolbarDisabled .rteButton {
border:1px solid #DDD;
}

.rteButtonActive {
background-color:#DDD;
border-left:1px solid #999;
border-top:1px solid #999;
border-right:1px solid #FFF;
border-bottom:1px solid #FFF;
}

.rteButtonHover {
border:1px solid #CCC;
border-right:1px solid #999;
border-bottom:1px solid #999;
border-left:1px solid #FFF;
border-top:1px solid #FFF;
}

.rteEditor {
border-left:1px solid #999;
border-right:1px solid #999;
overflow:auto;
}

.rteFooter {
background-color:#EEE;
border-top:1px solid #FFF;
border-bottom:1px solid #CCC;
border-right:1px solid #CCC;
padding:2px;
font-size:10pt;
}

.rteDialog {
background-color:#EEE;
border-bottom:2px solid #CCC;
border-top:1px solid #DDD;
border-right:2px solid #CCC;
border-left:1px solid #DDD;
font-size:8pt;
padding:5px;
}

.rteDialog td,.rteDialog input,.rteDialog select {
font-size:8pt;
}

input.rteInput {
border:1px solid gray;
}

.rteFileChooser,.rteFileChooser td,.rteFileChooser input,.rteFileChooser select {
font-size:8pt;
}

.rteFileChooser input {
border:1px solid gray;
}

.rteFileChooser .directoryheader {
border:1px solid #CCC;
background-color:#FFF;
padding:2px;
}

.rteFileChooser .filelist {
background-color:#FFF;
border-top:1px solid #CCC;
border-left:1px solid #CCC;
}

.rteFileChooser .filepreview {
background-color:#EEE;
border-top:1px solid #CCC;
border-left:1px solid #CCC;
border-bottom:1px solid #FFF;
border-right:1px solid #FFF;
}

.rteFileChooser .filerow {
padding:3px;
cursor:default;
}

.rteFileChooser .selected,.rteFileChooser .selected td {
background-color:#339;
color:#FFF;
}

.rteFileChooser .prompt {
background-color:#EEE;
border-bottom:1px solid #999;
border-top:10px solid #C0D8EA;
border-right:1px solid #999;
border-left:1px solid #999;
padding:5px;
}

ul._pp_tabstrip {
position:relative;
}

._pp_tabstrip_scroller {
height:20px;
overflow:hidden;
position:relative;
padding:0 1px;
}

._pp_tabstrip_scroll {
position:absolute;
right:0;
top:0;
height:20px;
width:29px;
background-color:#EEE;
border:1px solid #999;
}

._pp_tabstrip_scroll_left {
z-index:99;
width:14px;
height:18px;
display:inline-block;
background:url(/ 'left.png ') #EEE center center no-repeat;
}

._pp_tabstrip_scroll_right {
z-index:99;
width:14px;
height:18px;
display:inline-block;
background:url(/ 'right.png ') #EEE center center no-repeat;
border-left:1px solid #999;
}

._pp_tabstrip_scroll_left:hover,._pp_tabstrip_scroll_right:hover {
background-color:#FFF;
}

ul._pp_tabstrip_tabs {
position:relative;
list-style:none;
height:20px;
white-space:nowrap;
padding:0;
margin:0 0 0 2px;
}

ul._pp_tabstrip_tabs li {
position:relative;
height:17px;
padding:1px 15px;
border-top:1px solid #999;
border-left:1px solid #999;
border-right:1px solid #999;
background-color:#DDD;
cursor:pointer;
margin-left:3px;
border-radius:3px 3px 0 0;
-moz-border-radius:3px 3px 0 0;
-webkit-border-radius:3px 3px 0 0;
display:inline-block;
}

ul._pp_tabstrip_tabs li:hover {
background-color:#EEE;
}

ul._pp_tabstrip_tabs li.active,ul._pp_tabstrip_tabs li.active:hover {
position:relative;
z-index:2;
border-bottom:1px solid #FFF;
background-color:#FFF;
}

ul._pp_tabstrip_tabs li.disabled,ul._pp_tabstrip_tabs li.disabled:hover {
color:#888;
background-color:#DDD;
}

div._pp_tabstrip_panels {
position:relative;
z-index:1;
top:-1px;
border:1px solid #999;
}

._pp_timepicker {
font-size:16px;
}

._pp_timepicker td {
vertical-align:middle;
}

._pp_timepicker_input [type=text ] {
border:1px solid #999;
font-size:16px;
width:30px;
margin:0 1px;
padding:0;
text-align:center;
}

._pp_timepicker_down,._pp_timepicker_up {
cursor:pointer;
margin:0 1px;
border:1px solid #999;
background-position:center center;
background-repeat:no-repeat;
width:30px;
height:10px;
}

._pp_timepicker_up {
border-bottom:0;
border-radius:4px 4px 0 0;
-moz-border-radius:4px 4px 0 0;
-webkit-border-radius:4px 4px 0 0;
background-image:url(/arrow-up.gif);
}

._pp_timepicker_down {
border-top:0;
border-radius:0 0 4px 4px;
-moz-border-radius:0 0 4px 4px;
-webkit-border-radius:0 0 4px 4px;
background-image:url(/arrow-down.gif);
}

._pp_timepicker_ampm {
border:1px solid #999;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
font-size:11px;
margin:2px;
padding:3px;
cursor:pointer;
font-weight:bold;
}

._pp_timepicker_active {
background-color:#999;
border-color:#666;
color:#FFF;
}

ul._pp_treelist {
list-style:none;
padding:0 0 2px 0;
margin:0;
cursor:default;
}

ul._pp_treelist ul {
list-style:none;
margin:0 0 0 10px;
padding:0;
}

ul._pp_treelist li {
position:relative;
margin:0 0 0 10px;
padding:2px;
}

ul._pp_treelist li._pp_treelist_expandable {
padding-left:0;
}

div._pp_treelist_icon {
width:10px;
height:10px;
background-image:url(/collapsed.png);
position:absolute;
top:5px;
left:-10px;
}

div._pp_treelist_icon:hover {
background-image:url(/collapsed-hover.png);
}

div._pp_treelist_icon_expanded {
background-image:url(/expanded.png);
}

div._pp_treelist_icon_expanded:hover {
background-image:url(/expanded-hover.png);
}

._pp_treelist_selectable {
padding:1px 3px;
}

ul._pp_treelist li._pp_treelist_loading {
font-style:italic;
padding-left:20px;
background:left center no-repeat url(/loading.gif);
}

.treeselect {
position:relative;
}

.treeselect input [type=text ],.treeselect div {
border:1px solid #999;
width:150px;
height:18px;
padding:1px;
margin:1px 0;
}

.treeselect ul {
font-size:10pt;
top:0;
left:168px;
width:171px;
position:absolute;
display:none;
border-right:1px solid #999;
border-bottom:1px solid #999;
border-left:1px solid #999;
list-style:none;
background-color:#FFF;
margin:1px;
padding:0;
border-collapse:collapse;
}

.treeselect >ul {
top:21px;
left:-1px;
}

.treeselect li {
text-indent:3px;
position:relative;
padding-top:2px;
border-top:1px solid #999;
background-color:#FFF;
}

.treeselect li.submenu {
background:url(//images/right_arrow_outline.gif) right center no-repeat;
}

.treeselect li:hover {
background-color:#EEE;
cursor: pointer;
}

.treeselect li.active {
background:url(//images/right_arrow_filled.gif) right center no-repeat;
}

.treeselect li.active:hover {
background:#EEE url(//images/right_arrow_filled.gif) right center no-repeat;
}

._pp_upload_input {
height:16px;
width:100px;
position:relative;
overflow:hidden;
margin-bottom:5px;
}

._pp_upload_input:hover {
background-color:#EEE;
}

ul._pp_upload_files li input,._pp_upload_input input {
position:absolute;
top:0;
right:0;
font-size:460px;
border:0;
margin:0;
padding:0;
}

ul._pp_upload_files {
margin:0;
padding:0;
list-style:none;
}

ul._pp_upload_files li {
margin-top:2px;
border:1px solid #999;
background-color:#EEE;
position:relative;
overflow:hidden;
min-width:200px;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}

ul._pp_upload_files li._pp_upload_success {
background-color:#CFC;
}

ul._pp_upload_files li._pp_upload_error {
background-color:#FCC;
}

._pp_upload_label {
position:relative;
padding:3px;
margin:0 3px;
overflow:hidden;
white-space:nowrap;
}

._pp_upload_loading {
padding-left:18px;
background:url(/ 'loading.gif ') left 3px no-repeat;
}

._pp_upload_complete {
padding-left:18px;
background:url(/ 'ok.png ') left 3px no-repeat;
padding-right:21px;
}

._pp_upload_failed {
padding-left:18px;
background:url(/ 'warning.png ') left 3px no-repeat;
padding-right:21px;
}

._pp_upload_progress {
position:absolute;
background:#CCF;
height:100px;
top:0;
left:0;
width:0;
}

._pp_upload_change {
position:relative;
float:right;
padding:3px;
z-index:2;
}

._pp_upload_complete ._pp_upload_change {
display:none;
}

._pp_upload_iframe {
display:none;
}